# ===========================
# .NET
# ===========================

**/bin/
**/obj/

# Visual Studio
.vs/

# Visual Studio Code
.vscode/

# Rider
.idea/

# ===========================
# Logs
# ===========================

*.log

# ===========================
# Environment files
# ===========================

.env
.env.*

# ===========================
# Node / Next.js
# ===========================

frontend/node_modules/
frontend/.next/
frontend/out/

# ===========================
# OS
# ===========================

.DS_Store
Thumbs.db

# ===========================
# Uploads (cuando exista)
# ===========================

backend/uploads/

AI_CONTEXT.MD

electron/node_modules/